/* Styling untuk keseluruhan halaman */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container utama */
.card {
    max-width: 600px;
    margin: 20px auto;
    background: rgb(96, 255, 104);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    max-width: 600px;
    border-radius: 50px;
}
/* Header utama */
h1 {
    color: #8d7802;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}
/* Paragraf */
p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

/* Garis pemisah */
hr {
    border: none;
    height: 2px;
    background: #552323;
    margin: 10px 0;
}

/* Greeting */
small {
    display: block;
    font-style: italic;
    text-align: center;
    color: #888;
    margin-top: 5px;
}